In [1]:
from UTILITY_quickstart import *

In [2]:
importedDefaultSettings = loadConfig("setLattice_configs/defaults.yml")

tao = initializeTao(
    loadDefaultLatticeTF = False
)

setLattice(tao, **importedDefaultSettings)

#launchTwissCorrection(tao)

Environment set to:  /Users/nmajik/Documents/SLAC/FACET2-Bmad-PyTao
Tracking to end
CSR off
Not using setLattice(). Golden lattice
WARNING! No beam file is specified!
Number of macro particles defined by input file
Beam created, written to /Users/nmajik/Documents/SLAC/FACET2-Bmad-PyTao/beams/activeBeamFile.h5, and reinit to tao

In [3]:
setLattice(tao, **importedDefaultSettings)

baselineMatrix = getMatrix(tao, "BEGBC20", "ENDBC20")
displayMatrix(baselineMatrix)

In [8]:
quadDefaults = {
    "Q1EkG" :  161.311,
    "Q2EkG" :  -154.229,
    "Q3EkG" :  110.217,
    "Q4EkG" :  132.268,
    "Q5EkG" :  -23.373,
    "Q6EkG" :  -142.271,
}

for quadKey in quadDefaults:
    print(quadKey)
    
    setLattice(tao, **(importedDefaultSettings | {quadKey : (quadDefaults[quadKey] + 10.0)}))
    
    deltaMatrix = getMatrix(tao, "BEGBC20", "ENDBC20") - baselineMatrix
    displayMatrix(deltaMatrix)

Q1EkG

Q2EkG

Q3EkG

Q4EkG

Q5EkG

Q6EkG